.logo-size{
    height: 72px;
}

.header_mobile{
    position: fixed;
}


.tp-bullets.bullet-home-1{
    display: none;
}

.tparrows {
    display: none !important;
}

.mobil{
    margin-bottom: 24px !important;
}


.textFooter{
    color: #10266b !important;
}

.bg-maps-dots{
    background-image: url(../images/bg-maps-dots.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.socialMedia{
    margin-top: 40px;
}

.youtube{
    color: #FF0000 !important;
}

.img-ibtikarcom{
    width: 80%;
}

.margin-team-about{
    margin-bottom: 32px;
}

.paggination-style{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recent_posts_three{
    width: 70px !important;
    height:  70px !important;
}
.cover_post{
    width: 870px !important;
    height: 520px !important;
}

/* .project_img_home{
    width: 370px !important;
    height: 370px !important;
} */


.img-testi{
    border-radius: 100% !important;
    width: 90px !important;
    height: 90px !important;
}

/* .blog-border{
    border: 1px solid black !important;
} */

.single-project-cover{
    width: 1170px !important;
    height: 700px !important;;
}



#partners{
    background-color: #faf9f7 !important;
}

.faq-grid{
    display: grid !important;
    grid-template-columns: 50% 50% !important;
    grid-gap: 0px 40px !important;
}

@media screen and (min-width: 0px) and (max-width: 767px){
    .btnMobile{
        margin-bottom: 24px !important;
    }
    /* .mobil{
        margin-bottom: -80px !important;
    } */
    .margin-mobile{
        margin-top: -40px;
    }
    .padding-mobile{
        padding-bottom: 40px !important;
    }

    .padding-mobile-projet{
        display: none;
    }
    .padding-top-mobile{
        padding-top: 32px !important;
    }

    .padding-mobile_footer{
        padding-top: 40px !important;
        text-align: center;
    }
    .copyright-text{
        text-align-last: center;
    }
    .team-top-title{
        font-size: 32px !important;
    }
    .team-mobile{
        padding-top: 24px !important;
    }

    .contactS-mobile{
        top: 0px !important;
    }
    .contact-left {
        margin-right: 0px !important;
        text-align:justify;
    }
    .projects-masonry{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .projectspara{
        text-align: justify;
        text-align-last: center;
    }
    .blog-mobile{
        padding-top: 40px !important;
        padding-bottom: 56px !important;
    }
    .page-pagination{
        margin-top: 32px !important;
    }
    .faq{
        padding-top: 40px !important;
        padding-bottom: 180px !important;
    }
    .faq-besoin{
        font-size: 24px !important;
    }
    .cta-faq{
        padding: 40px !important;
        text-align:center;

    }
    .faq-height{
        height: 40px !important;
    }
    .faq-support{
        padding-bottom: 64px !important;
    }
    .contact-post-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cover_post{
        height: 320px !important;
    }
    .about-offer{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .service2-v4{
        padding-top: 24px !important;
    }
    .about-team{
        padding-top: 40px !important;
    }
    .service2-v4{
        margin-top: 400px !important;
    }
    .nomargin{
        margin-right: 0px !important;
    margin-left: 0px !important;
    }

    .single-project-cover{
        height: auto !important;;
    }


}