// colors


$color-white: #fff;
$color-black: #000;
$primary: #03704D;
$primary-variant: #DBF0E5;
$secondary: #E70D00;



$fontP:'Poppins', sans-serif;
$fontS : 'Playfair Display', serif;


$slide-slow: all 0.5s  cubic-bezier(.55,0,.1,1);
$hover: all 0.2s ease-in;
