@media (min-width: 1200px){
.error{
    &__para{
        text-transform: uppercase;
        color: black;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 48px;
        text-align: center;
    }
    a{
    text-decoration: none;
    }
    &__btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 24px 18px;
        border-radius: 56px;
        border: none;
        background-color: $primary;
        color: white;
        width: 12%;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
    }
    &__bg{
        display: block;
        width: 40%;
        margin: 80px auto 56px;
    }
    &__roue1{
        width: 15%;
        position: absolute;
        top: 22%;
        left: 30%;
        z-index: -1;
    }
    &__roue2{
        position: absolute;
        left: 61%;
        top: 12%;
        z-index: -1;
    }
    &__roue3{
        position: absolute;
        left: 47%;
        width: 4%;
        top: 16%;
    }
    &__roue4{
        position: absolute;
        left: 51%;
        width: 4%;
        top: 19%;
    }
    &__roue5{
        position: absolute;
        left: 47%;
        width: 4%;
        top: 24%;
    }
    &__roue6{
        position: absolute;
        left: 51%;
        width: 4%;
        top: 27%;
    }
}
.role {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 10s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-moz-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-o-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(720deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
}

@media (min-width: 320px) and (max-width: 480px){
    .error{
        &__btn{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 24px 18px;
            border-radius: 56px;
            border: none;
            background-color: $primary;
            color: white;
            width: 56%;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
        }
        &__para{
            text-transform: uppercase;
            color: black;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 40px;
            text-align: center;
            
        }
        a{
        text-decoration: none;
        }
        &__bg{
            display: block;
            width: 80%;
            margin: 80px auto 40px;
        }
        &__roue1{
            position: absolute;
            width: 20%;
            top: 18%;
            left: 9%;
            z-index: -1;
        }
        &__roue2{
            position: absolute;
            left: 68%;
            width: 24%;
            top: 13%;
            z-index: -1;

        }
        &__roue3{
            position: absolute;
            left: 43%;
            width: 11%;
            top: 15.5%;
        }
        &__roue4{
            position: absolute;
            left: 54%;
            width: 8%;
            top: 18%;
        }
        &__roue5{
            position: absolute;
            left: 47%;
            width: 8%;
            top: 21%;
        }
        &__roue6{
            position: absolute;
            left: 51%;
            width: 10%;
            top: 10%;
        }
    }
    .role {
        -webkit-animation-name: rotation;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: rotation;
        -moz-animation-duration: 10s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -o-animation-name: rotation;
        -o-animation-duration: 10s;
        -o-animation-iteration-count: infinite;
        -o-animation-timing-function: linear;
        animation-name: rotation;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @-webkit-keyframes rotation {
        0% {-webkit-transform:rotate(0deg);
            -moz-transform:rotate(0deg);
            -o-transform:rotate(0deg);
            transform:rotate(0deg);}
        100% {-webkit-transform:rotate(360deg);
            -moz-transform:rotate(360deg);
            -o-transform:rotate(360deg);
            transform:rotate(360deg);}
    }
    @-moz-keyframes rotation {
        0% {-webkit-transform:rotate(0deg);
            -moz-transform:rotate(0deg);
            -o-transform:rotate(0deg);
            transform:rotate(0deg);}
        100% {-webkit-transform:rotate(360deg);
            -moz-transform:rotate(360deg);
            -o-transform:rotate(360deg);
            transform:rotate(360deg);}
    }
    @-o-keyframes rotation {
        0% {-webkit-transform:rotate(0deg);
            -moz-transform:rotate(0deg);
            -o-transform:rotate(0deg);
            transform:rotate(0deg);}
        100% {-webkit-transform:rotate(360deg);
            -moz-transform:rotate(360deg);
            -o-transform:rotate(360deg);
            transform:rotate(360deg);}
    }
    @keyframes rotation {
        0% {-webkit-transform:rotate(0deg);
            -moz-transform:rotate(0deg);
            -o-transform:rotate(0deg);
            transform:rotate(0deg);}
        100% {-webkit-transform:rotate(360deg);
            -moz-transform:rotate(720deg);
            -o-transform:rotate(360deg);
            transform:rotate(360deg);}
    }
}

@media (min-width: 600px)and (max-width: 1024px){
    .error{
        &__btn{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 24px 18px;
            border-radius: 56px;
            border: none;
            background-color: $primary;
            color: white;
            width: 32%;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
        }
        &__para{
            text-transform: uppercase;
            color: black;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 40px;
            text-align: center;
            
        }
        a{
        text-decoration: none;
        }
        &__bg{
            display: block;
            width: 80%;
            margin: 80px auto 40px;
        }
        &__roue1{
            position: absolute;
            width: 24%;
            top: 16%;
            left: 16%;
            z-index: -1;
        }
        &__roue2{
            position: absolute;
            left: 64%;
            width: 20%;
            top: 11%;
            z-index: -1;

        }
        &__roue3{
            position: absolute;
            left: 43%;
            width: 8%;
            top: 10%;
        }
        &__roue4{
            position: absolute;
            left: 51%;
            width: 7%;
            top: 12%;
        }
        &__roue5{
            position: absolute;
            left: 45%;
            width: 6%;
            top: 17%;
        }
        &__roue6{
            position: absolute;
            left: 51%;
            width: 7%;
            top: 18%;
        }
    }
    .role {
        -webkit-animation-name: rotation;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: rotation;
        -moz-animation-duration: 10s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -o-animation-name: rotation;
        -o-animation-duration: 10s;
        -o-animation-iteration-count: infinite;
        -o-animation-timing-function: linear;
        animation-name: rotation;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @-webkit-keyframes rotation {
        0% {-webkit-transform:rotate(0deg);
            -moz-transform:rotate(0deg);
            -o-transform:rotate(0deg);
            transform:rotate(0deg);}
        100% {-webkit-transform:rotate(360deg);
            -moz-transform:rotate(360deg);
            -o-transform:rotate(360deg);
            transform:rotate(360deg);}
    }
    @-moz-keyframes rotation {
        0% {-webkit-transform:rotate(0deg);
            -moz-transform:rotate(0deg);
            -o-transform:rotate(0deg);
            transform:rotate(0deg);}
        100% {-webkit-transform:rotate(360deg);
            -moz-transform:rotate(360deg);
            -o-transform:rotate(360deg);
            transform:rotate(360deg);}
    }
    @-o-keyframes rotation {
        0% {-webkit-transform:rotate(0deg);
            -moz-transform:rotate(0deg);
            -o-transform:rotate(0deg);
            transform:rotate(0deg);}
        100% {-webkit-transform:rotate(360deg);
            -moz-transform:rotate(360deg);
            -o-transform:rotate(360deg);
            transform:rotate(360deg);}
    }
    @keyframes rotation {
        0% {-webkit-transform:rotate(0deg);
            -moz-transform:rotate(0deg);
            -o-transform:rotate(0deg);
            transform:rotate(0deg);}
        100% {-webkit-transform:rotate(360deg);
            -moz-transform:rotate(720deg);
            -o-transform:rotate(360deg);
            transform:rotate(360deg);}
    }
}




