@media (min-width: 1200px){
.error{
    &__para{
        color: white;
        font-size: 24px;
        font-weight: 700;
        position: absolute;
        text-align: center;
        top: 53.7%;
        left: 44%;
        width: 11%;
    }
    a{
    text-decoration: none;
    }
    &__btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 24px 18px;
        border-radius: 56px;
        border: none;
        background-color: $primary;
        color: white;
        width: 12%;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
    }
    &__bg{
        display: block;
        width: 40%;
        margin: 80px auto;
    }
    &__roue1{
        width: 15%;
        position: absolute;
        top: 22%;
        left: 30%;
        z-index: -1;
    }
    &__roue2{
        position: absolute;
        left: 61%;
        top: 12%;
        z-index: -1;
    }
    &__roue3{
        position: absolute;
        left: 47%;
        width: 4%;
        top: 16%;
    }
    &__roue4{
        position: absolute;
        left: 51%;
        width: 4%;
        top: 19%;
    }
    &__roue5{
        position: absolute;
        left: 47%;
        width: 4%;
        top: 24%;
    }
    &__roue6{
        position: absolute;
        left: 51%;
        width: 4%;
        top: 27%;
    }
}
}




.role {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 10s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-moz-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@-o-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}
@keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(720deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}
}