
@media (min-width: 1200px){
.actualites{
    width: 80%;
    margin: auto;
    &__title{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }
    &__subtitle{
        text-align: center;
        font-size: 24px;
    }
}



.blog-one__single {
    width: 80%;
    margin: 40px auto;
	
}

.blog-one__image {
	overflow: hidden;
	position: relative;
}

.blog-one__image::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.88;
	transform: scale(1, 0);
	transform-origin: top;
	background-image: linear-gradient(180deg, $primary, $primary-variant);
	transition: transform 500ms ease, opacity 500ms ease;
	opacity: 0;
	z-index: 10;
}

.blog-one__single:hover .blog-one__image::before {
	opacity: .88;
	transform-origin: bottom;
	transform: scale(1, 1);
}

.blog-one__image>img {
	width: 100%;
	transform: scale(1);
	transition: transform 500ms ease;
}

.blog-one__single:hover .blog-one__image>img {
	transform: scale(1.05);
}

.blog-one__image>a {
	width: 54px;
	height: 54px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translateY(-27px) translateX(-27px);
    background-color: #fff;
    text-decoration: none;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: black;
	z-index: 11;
	transition: transform 500ms ease, opacity 500ms ease, color 500ms ease, background-color 500ms ease;
	opacity: 0;
}

.blog-one__single:hover .blog-one__image>a {
	opacity: 1;
}

.blog-one__image>a:hover {
	background-color: $secondary;
	color: #fff;
}

.blog-one__content {
	padding-bottom: 40px;
	padding-top: 40px;
	padding-left: 35px;
	padding-right: 35px;
	box-shadow: 1.782px 0.908px 27px 0px rgba(54, 54, 54, 0.13);
}

.blog-one__content h3 {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: black;
	margin: 24px 0px;
}

.blog-one__content h3 a {
	color: inherit;
    transition: all 500ms ease;
    text-decoration: none;
}

.blog-one__single:hover h3 a {
	color: $primary;
}

.blog-one__btn {
	border-radius: 22.5px;
	color: $primary;
	font-size: 15px;
	font-weight: 600;
	background-color: $primary-variant;
	padding: 7.5px 27px;
	box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    text-decoration: none;
}

.blog-one__btn:hover {
	background-color: var(--thm-base);
}

.blog-one__btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scale(1, 0);
	background-image: linear-gradient(90deg, $primary, $primary-variant);
	border-radius: 22.5px;
	transform-origin: bottom;
	transition: transform 500ms ease;
}

.blog-one__btn:hover::before {
	transform: scale(1, 1);
	transform-origin: top;
}

.blog-one__btn span {
	position: relative;
}
.blog-one__btn:hover{
    color: white;
}

.blog-one__meta {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.blog-one__meta a {
	display: flex;
	align-items: center;
    font-size: 16px;
    font-weight: 700;
	color: black;
	line-height: 1em;
    transition: all 500ms ease;
    text-decoration: none;
}


.blog-one__meta a+a {
	margin-left: 20px;
}

.blog-one__meta a i {
	margin-right: 3px;
}


}

@media (min-width: 320px) and (max-width: 480px){
    .block-title__line {
		background-color: $secondary;
		display: flex;
		width: 64px;
		height: 6px;
		border-radius: 3px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	
	.block-title__line::before {
		content: '';
		width: 8px;
		height: 6px;
		background-color: white;
		border-radius: 3px;
		position: absolute;
		left: 12px;
		top: 0px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
    }

    .actualites{
        width: 80%;
        margin: auto;
		&__title{
			text-align: center;
			font-size: 24px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			font-weight: 700;
		}
		&__subtitle{
			text-align: justify;
			font-size: 16px;
			font-weight: 500;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align-last: center;
		}
    }
    
    
    
    .blog-one__single {
        width: 96%;
        margin: 40px auto;
        
    }
    
    .blog-one__image {
        overflow: hidden;
        position: relative;
    }
    
    .blog-one__image::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.88;
        transform: scale(1, 0);
        transform-origin: top;
        background-image: linear-gradient(180deg, $primary, $primary-variant);
        transition: transform 500ms ease, opacity 500ms ease;
        opacity: 0;
        z-index: 10;
    }
    
    .blog-one__single:hover .blog-one__image::before {
        opacity: .88;
        transform-origin: bottom;
        transform: scale(1, 1);
    }
    
    .blog-one__image>img {
        width: 100%;
        transform: scale(1);
        transition: transform 500ms ease;
    }
    
    .blog-one__single:hover .blog-one__image>img {
        transform: scale(1.05);
    }
    
    .blog-one__image>a {
        width: 54px;
        height: 54px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translateY(-27px) translateX(-27px);
        background-color: #fff;
        text-decoration: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: black;
        z-index: 11;
        transition: transform 500ms ease, opacity 500ms ease, color 500ms ease, background-color 500ms ease;
        opacity: 0;
    }
    
    .blog-one__single:hover .blog-one__image>a {
        opacity: 1;
    }
    
    .blog-one__image>a:hover {
        background-color: $secondary;
        color: #fff;
    }
    
    .blog-one__content {
        padding-bottom: 40px;
        padding-top: 40px;
        padding-left: 35px;
        padding-right: 35px;
        box-shadow: 1px 0px 6px 0 rgba(54,54,54,.13);
    }
    
    .blog-one__content h3 {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        color: black;
        margin: 24px 0px;
    }
    
    .blog-one__content h3 a {
        color: inherit;
        transition: all 500ms ease;
        text-decoration: none;
    }
    
    .blog-one__single:hover h3 a {
        color: $primary;
    }
    
    .blog-one__btn {
        border-radius: 22.5px;
        color: $primary;
        font-size: 15px;
        font-weight: 600;
        background-color: $primary-variant;
        padding: 7.5px 27px;
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        text-decoration: none;
    }
    
    .blog-one__btn:hover {
        background-color: var(--thm-base);
    }
    
    .blog-one__btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(1, 0);
        background-image: linear-gradient(90deg, $primary, $primary-variant);
        border-radius: 22.5px;
        transform-origin: bottom;
        transition: transform 500ms ease;
    }
    
    .blog-one__btn:hover::before {
        transform: scale(1, 1);
        transform-origin: top;
    }
    
    .blog-one__btn span {
        position: relative;
    }
    .blog-one__btn:hover{
        color: white;
    }
    
    .blog-one__meta {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    
    .blog-one__meta a {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        color: black;
        line-height: 1em;
        transition: all 500ms ease;
        text-decoration: none;
    }
    
    
    .blog-one__meta a+a {
        margin-left: 20px;
    }
    
    .blog-one__meta a i {
        margin-right: 3px;
    }
    

}

@media (min-width: 600px)and (max-width: 1024px){
	.block-title__line {
		background-color: $secondary;
		display: flex;
		width: 64px;
		height: 6px;
		border-radius: 3px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	
	.block-title__line::before {
		content: '';
		width: 8px;
		height: 6px;
		background-color: white;
		border-radius: 3px;
		position: absolute;
		left: 12px;
		top: 0px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

    .actualites{
        width: 80%;
        margin: auto;
		&__title{
			text-align: center;
			font-size: 24px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			font-weight: 700;
		}
		&__subtitle{
			text-align: justify;
			font-size: 16px;
			font-weight: 500;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align-last: center;
		}
    }
    
    
    
    .blog-one__single {
        width: 96%;
        margin: 40px auto;
        
    }
    
    .blog-one__image {
        overflow: hidden;
        position: relative;
    }
    
    .blog-one__image::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.88;
        transform: scale(1, 0);
        transform-origin: top;
        background-image: linear-gradient(180deg, $primary, $primary-variant);
        transition: transform 500ms ease, opacity 500ms ease;
        opacity: 0;
        z-index: 10;
    }
    
    .blog-one__single:hover .blog-one__image::before {
        opacity: .88;
        transform-origin: bottom;
        transform: scale(1, 1);
    }
    
    .blog-one__image>img {
        width: 100%;
        transform: scale(1);
        transition: transform 500ms ease;
    }
    
    .blog-one__single:hover .blog-one__image>img {
        transform: scale(1.05);
    }
    
    .blog-one__image>a {
        width: 54px;
        height: 54px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translateY(-27px) translateX(-27px);
        background-color: #fff;
        text-decoration: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: black;
        z-index: 11;
        transition: transform 500ms ease, opacity 500ms ease, color 500ms ease, background-color 500ms ease;
        opacity: 0;
    }
    
    .blog-one__single:hover .blog-one__image>a {
        opacity: 1;
    }
    
    .blog-one__image>a:hover {
        background-color: $secondary;
        color: #fff;
    }
    
    .blog-one__content {
        padding-bottom: 40px;
        padding-top: 40px;
        padding-left: 35px;
        padding-right: 35px;
        box-shadow: 1px 0px 6px 0 rgba(54,54,54,.13);
    }
    
    .blog-one__content h3 {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        color: black;
        margin: 24px 0px;
    }
    
    .blog-one__content h3 a {
        color: inherit;
        transition: all 500ms ease;
        text-decoration: none;
    }
    
    .blog-one__single:hover h3 a {
        color: $primary;
    }
    
    .blog-one__btn {
        border-radius: 22.5px;
        color: $primary;
        font-size: 15px;
        font-weight: 600;
        background-color: $primary-variant;
        padding: 7.5px 27px;
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        text-decoration: none;
    }
    
    .blog-one__btn:hover {
        background-color: var(--thm-base);
    }
    
    .blog-one__btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(1, 0);
        background-image: linear-gradient(90deg, $primary, $primary-variant);
        border-radius: 22.5px;
        transform-origin: bottom;
        transition: transform 500ms ease;
    }
    
    .blog-one__btn:hover::before {
        transform: scale(1, 1);
        transform-origin: top;
    }
    
    .blog-one__btn span {
        position: relative;
    }
    .blog-one__btn:hover{
        color: white;
    }
    
    .blog-one__meta {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    
    .blog-one__meta a {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        color: black;
        line-height: 1em;
        transition: all 500ms ease;
        text-decoration: none;
    }
    
    
    .blog-one__meta a+a {
        margin-left: 20px;
    }
    
    .blog-one__meta a i {
        margin-right: 3px;
    }
    
}