.hero-headerCI {
    background-image: url('../images/carnetI-bg.png');
    background-repeat: no-repeat;
    padding: 4rem 16rem;
    @include responsive(tab-port){
        background-image: url('../images/carnetI-bg.png');
        background-repeat: no-repeat;
        // background-size: cover;
        // background-position: bottom left;
        height: max-content;
        padding: 8rem 4rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        .logo-box {
            @include responsive(tab-port) {
                position: relative;
                left: -5rem;
            }

            &__img {
                width: 15rem;
            }
        }

        // .hamburger {}
    }

}

@media (min-width: 1200px){
.carnet-inv{
    &__title{
        font-size: 32px;
        margin: 80px 0px 64px;
        font-family: $fontS;
        color: black;
        font-weight: 700;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 120px;
        margin-top: 16px;
    a {
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 57px;
        height: 57px;
        transition: all .4s ease;
    }
    a:hover {
        background-color: $secondary;
        color: #fff;
    }
    a.active {
        background-color: $secondary;
        color: #fff;
        cursor: auto;
    }
    a+a {
        margin-left: 15px;
    }
}
}

.margincarn{
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
}

@media (min-width: 320px) and (max-width: 480px){
    .carnet-inv{
        &__title{
            font-size: 32px;
            margin: 80px 0px 64px;
            font-family: $fontS;
            color: black;
            font-weight: 700;
        }
        &__wrapper{
            display: grid;
            grid-template-columns: 100%;
        }
        &__pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 56px;
            margin-top: 24px;
        a {
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            color: black;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            transition: all .4s ease;
        }
        a:hover {
            background-color: $secondary;
            color: #fff;
        }
        a.active {
            background-color: $secondary;
            color: #fff;
            cursor: auto;
        }
        a+a {
            margin-left: 15px;
        }
    }
    }
    
    .margincarn{
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 600px)and (max-width: 1199px){
    .carnet-inv{
        &__title{
            font-size: 32px;
            margin: 80px 0px 64px;
            font-family: $fontS;
            color: black;
            font-weight: 700;
        }
        &__wrapper{
            display: grid;
            grid-template-columns: 50% 50%;
        }
        &__pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 56px;
        a {
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            color: black;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            transition: all .4s ease;
        }
        a:hover {
            background-color: $secondary;
            color: #fff;
        }
        a.active {
            background-color: $secondary;
            color: #fff;
            cursor: auto;
        }
        a+a {
            margin-left: 15px;
        }
    }
    }
    
    .margincarn{
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}