.contactpage{
    &__title{
        text-align: center;
        font-size: 40px;
       
    }
    &__second{
        text-align: center;
        margin-left: 11%;
        font-size: 24px;
        margin-top: -4%;
    }
    
    &__shape{
        position: absolute;
        margin-top: -4%;
        margin-left: 7%;
        width: 6%;
    }
  
    &__box{

       width: 100%;
     
        &--adresse{
            margin-left: 280px;
           display: inline-block;

        i{
           
            position: relative;
            top: 81px;
            right: 84px;
            font-size: 30px;
            padding: 18px;
            background-color:$primary ;
            color:$color-white;
           
        }
       
    }
    &--p{
        padding: 4% 10% 16px 2px;
        font-size: 99%;
       font-weight: 500;
        
    }
    }
    &__container{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 40px;
    &--maps{
        width: 80%;
        margin-left: 195px;
        grid-area :1/1;
        background-color: red;
    }
    &--form{
        padding-top: 40px;
        width: 80%;
        grid-area: 1/2;
        background-color:$primary  ;
      
    }
    input{
        padding-left: 35px;
        width: 320px;
        border: 2px;
        margin: 15px 205px;
        outline: none;
        box-sizing: border-box;
        transition: .3s;
        height: 46px;
        background-color: $primary-variant;
        
    }
    select{
        padding-left: 35px;
        width: 320px;
        border: 2px;
        margin: 15px 205px;
        outline: none;
        box-sizing: border-box;
        transition: .3s;
        height: 46px;
       background-color: $primary-variant;
    }
   .inputEdit{
       padding-bottom: 61px;
       height:120px;
   }

    }
}