@media (min-width: 1200px){
    .contactPage{
        margin-top: 120px;
        margin-bottom: 120px;
        &__title{
            text-align: center;
            font-size: 32px;
            font-weight: 700;
        }
        &__subtitle{
            text-align: center;
            font-size: 24px;
        }
        &__bg{
            position: absolute;
            margin-top: -6%;
            margin-left: 14%;
            width: 6%;
        }
        &__Top{
            width: 80%;
            margin: 120px auto 56px;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 33% 34% 33%;
            &--phone{
                grid-area: 1/1;
                display: grid;
                grid-template-columns: 30% 70%;
                grid-template-rows: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            &--message{
                grid-area: 1/2;
                display: grid;
                grid-template-columns: 30% 70%;
                grid-template-rows: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            &--location{
                grid-area: 1/3;
                display: grid;
                grid-template-columns: 30% 70%;
                grid-template-rows: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            i{
                grid-area: 1/1;
                margin: 0px auto auto;
                font-size: 32px;
                padding: 24px;
                color: white;
                border-radius: 24px;
                background: linear-gradient(90deg, $primary 0%, $primary-variant 100%);
            }
            h4{
                grid-area: 1/2;
                font-size: 16px;
                font-weight: 700;
                width: 72%;
                margin: 0px;
            }
            a{
                grid-area: 1/2;
                font-size: 16px;
                font-weight: 600;
                width: 72%;
                margin-top: 24px;
                text-decoration: none;
                color: $secondary;
            }
            p{
                grid-area: 1/2;
                font-size: 14px;
                font-weight: 500;
                margin-top: 64px;
            }
        }
        &__container{
            background-color: $primary;
            width: 72%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-rows: max-content;
            grid-template-columns: 50% 50%;
        }
        &__maps{
            grid-area: 1/1;
            // margin: auto;
            width: 100%;
        }
        &__form{
            grid-area: 1/2;
            background-color: $primary;
            margin: auto;
            padding: 40px 0px;
            
        }
    }

    .formName{
        input{
            background-color: $primary-variant;
            border: none;
            width: 440px;
            height: 40px;
            padding-left: 32px;
            color: black;
            font-weight: 600;
            margin-bottom: 24px;
            font-family: $fontP;
        }
        ::placeholder {
            color: black;
            font-size: 16px;
            font-weight: 500;
            font-family: $fontP;
        }
    }
    
    .formEmail{
        input{
            background-color: $primary-variant;
            border: none;
            width: 440px;
            height: 40px;
            padding-left: 32px;
            color: black;
            font-weight: 600;
            margin-bottom: 24px;
            font-family: $fontP;
        }
        ::placeholder {
            color: black;
            font-size: 16px;
            font-weight: 500;
            font-family: $fontP;
        }
    }

    .formSubject{
        select{
            background-color: $primary-variant;
            border: none;
            width: 472px;
            height: 40px;
            padding-left: 32px;
            padding-right: 32px;
            color: black;
            font-weight: 600;
            margin-bottom: 24px;
            font-family: $fontP;
        }
    }

    .formMessage{
        textarea{
            background-color:$primary-variant;
            border: none;
            width: 440px;
            height: 144px;
            padding-left: 32px;
            color: black;
            font-weight: 500;
            margin-bottom: 24px;
            font-family: $fontP;
            padding-top: 24px;
        }
        ::placeholder {
            color: black;
            font-size: 16px;
        }
    }
}


@media (min-width: 320px) and (max-width: 480px){
    .contactPage{
        margin-top: 64px;
        margin-bottom: 120px;
        &__title{
			text-align: center;
			font-size: 24px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			font-weight: 700;
        }
        &__subtitle{
			text-align: justify;
			font-size: 16px;
			font-weight: 500;
			width: 65%;
			margin-left: auto;
			margin-right: auto;
			text-align-last: center;
        }
        &__bg{
            display: none;
        }
        &__Top{
            width: 80%;
            margin: 80px auto 40px;
            display: grid;
            grid-template-rows: max-content max-content max-content;
            grid-template-columns: 100%;
            &--phone{
                grid-area: 1/1;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: max-content max-content;
                margin-left: auto;
                margin-right: auto;
            }
            &--message{
                grid-area: 2/1;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: max-content max-content;
                margin-left: auto;
                margin-right: auto;
            }
            &--location{
                grid-area: 3/1;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: max-content max-content;
                margin-left: auto;
                margin-right: auto;
            }
            i{
                grid-area: 1/1;
                margin: 0px auto 32px;
                font-size: 32px;
                padding: 24px;
                color: white;
                border-radius: 24px;
                background: linear-gradient(90deg, $primary 0%, $primary-variant 100%);
            }
            h4{
                text-align: center;
                grid-area: 2/1;
                font-size: 16px;
                font-weight: 700;
                margin: 0px;
            }
            a{
                text-align: center;
                grid-area: 2/1;
                font-size: 16px;
                font-weight: 600;
                margin-top: 24px;
                text-decoration: none;
                color: $secondary;
            }
            p{
                text-align: center;
                grid-area: 2/1;
                font-size: 14px;
                font-weight: 500;
                margin-top: 64px;
            }
        }
        &__container{
            background-color: $primary;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-rows: max-content max-content;
            grid-template-columns: 100%;
        }
        &__maps{
            grid-area: 1/1;
            img{
                width: 100%;
                height: 40%;
            }
        }
        &__form{
            grid-area: 2/1;
            background-color: $primary;
            margin: 40px auto;
            
        }
    }

    .formName{
        input{
            background-color: $primary-variant;
            border: none;
            width: 88%;
            height: 40px;
            padding-left: 32px;
            color: black;
            font-weight: 600;
            margin-bottom: 24px;
            font-family: $fontP;
        }
        ::placeholder {
            color: black;
            font-size: 16px;
            font-weight: 500;
            font-family: $fontP;
        }
    }
    
    .formEmail{
        input{
            background-color: $primary-variant;
            border: none;
            width: 88%;
            height: 40px;
            padding-left: 32px;
            color: black;
            font-weight: 600;
            margin-bottom: 24px;
            font-family: $fontP;
        }
        ::placeholder {
            color: black;
            font-size: 16px;
            font-weight: 500;
            font-family: $fontP;
        }
    }

    .formSubject{
        select{
            background-color: $primary-variant;
            border: none;
            width: 100%;
            height: 40px;
            padding-left: 32px;
            padding-right: 32px;
            color: black;
            font-weight: 600;
            margin-bottom: 24px;
            font-family: $fontP;
        }
    }

    .formMessage{
        textarea{
            background-color:$primary-variant;
            border: none;
            width: 88%;
            height: 144px;
            padding-left: 32px;
            color: black;
            font-weight: 500;
            margin-bottom: 24px;
            font-family: $fontP;
            padding-top: 24px;
        }
        ::placeholder {
            color: black;
            font-size: 16px;
        }
    }
}


@media (min-width: 600px)and (max-width: 1024px){
    .contactPage{
        margin-top: 40px;
        margin-bottom: 120px;
        &__title{
			text-align: center;
			font-size: 24px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			font-weight: 700;
        }
        &__subtitle{
			text-align: justify;
			font-size: 16px;
			font-weight: 500;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align-last: center;
        }
        &__bg{
            display: none;
        }
        &__Top{
            width: 80%;
            margin: 40px auto;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 33% 34% 33%;
            &--phone{
                grid-area: 1/1;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: max-content max-content;
                margin-left: auto;
                margin-right: auto;
            }
            &--message{
                grid-area: 1/2;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: max-content max-content;
                margin-left: auto;
                margin-right: auto;
            }
            &--location{
                grid-area: 1/3;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: max-content max-content;
                margin-left: auto;
                margin-right: auto;
            }
            i{
                grid-area: 1/1;
                margin: 0px auto auto;
                font-size: 32px;
                padding: 24px;
                color: white;
                border-radius: 24px;
                background: linear-gradient(90deg, $primary 0%, $primary-variant 100%);
            }
            h4{
                text-align: center;
                grid-area: 2/1;
                font-size: 14px;
                font-weight: 700;
                width: 100%;
                margin: 24px auto 16px;
            }
            a{
                text-align: center;
                grid-area: 2/1;
                font-size: 14px;
                font-weight: 600;
                width: 100%;
                text-decoration: none;
                color: $secondary;
                margin: auto;
                
            }
            p{
                text-align: center;
                grid-area: 2/1;
                font-size: 14px;
                font-weight: 500;
                margin-top: 64px;
                margin: 80px auto auto;
            }
        }
        &__container{
            background-color: $primary;
            width: 72%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-rows: max-content max-content;
            grid-template-columns: 100%;
        }
        &__maps{
            grid-area: 1/1;
            width: 100%;
            img{
                width: 100%;
                height: 40%;
            }
        }
        &__form{
            grid-area: 2/1;
            background-color: $primary;
            margin: 64px auto;
            
        }
    }

    .formName{
        input{
            background-color: $primary-variant;
            border: none;
            width: 440px;
            height: 40px;
            padding-left: 32px;
            color: black;
            font-weight: 600;
            margin-bottom: 24px;
            font-family: $fontP;
        }
        ::placeholder {
            color: black;
            font-size: 16px;
            font-weight: 500;
            font-family: $fontP;
        }
    }
    
    .formEmail{
        input{
            background-color: $primary-variant;
            border: none;
            width: 440px;
            height: 40px;
            padding-left: 32px;
            color: black;
            font-weight: 600;
            margin-bottom: 24px;
            font-family: $fontP;
        }
        ::placeholder {
            color: black;
            font-size: 16px;
            font-weight: 500;
            font-family: $fontP;
        }
    }

    .formSubject{
        select{
            background-color: $primary-variant;
            border: none;
            width: 472px;
            height: 40px;
            padding-left: 32px;
            padding-right: 32px;
            color: black;
            font-weight: 600;
            margin-bottom: 24px;
            font-family: $fontP;
        }
    }

    .formMessage{
        textarea{
            background-color:$primary-variant;
            border: none;
            width: 440px;
            height: 144px;
            padding-left: 32px;
            color: black;
            font-weight: 500;
            margin-bottom: 24px;
            font-family: $fontP;
            padding-top: 24px;
        }
        ::placeholder {
            color: black;
            font-size: 16px;
        }
    }
}