

.portfolio-menu{
    text-align:center;
}

.portfolio-menu ul li{
    display:inline-block;
    margin:31px;
    list-style:none;
    padding:10px 15px;
    border: 2px solid $secondary;
     border-radius: 25px;
    cursor:pointer;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    font-size:20px;
    &:active  {
  background:$secondary;
    color:#ffffff;
}

}






.line2{
    margin-top:8%;
}
