

.portfolio-menu{
    text-align:center;
}

.portfolio-menu ul li{
    display:inline-block;
    margin:31px;
    list-style:none;
    padding:10px 15px;
    border: 2px solid $secondary;
     border-radius: 25px;
    cursor:pointer;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -ms-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    font-size:20px;
    &:active  {
  background:$secondary;
    color:#ffffff;
}

}

.line2{
    margin-top:8%;
}

.parent1 {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-left: 10%;
margin-bottom:10%;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; }