.container{
    width:90%;
    margin:10px auto;
}

.portfolio-menu{
    text-align:center;
}

.portfolio-menu ul li{
    display:inline-block;
    margin:0;
    list-style:none;
    padding:10px 15px;
    border:1px solid tomato;
    cursor:pointer;
    -webkit-transition:all .5s ease;
    -moz-transition::all .5s ease;
    -ms-transition::all .5s ease;
    -o-transition::all .5s ease;
    transition::all .5s ease;
}
}

.portfolio-menu ul li{
    background:tomato;
    color:#ffffff;
}

.portfolio-item{
    width:100%;
}
.portfolio-item .item{
    width:303px;
    float: left;
    margin-bottom:10px;
}

li .active{
    background:tomato;
    color:#ffffff;
}