.hero-headerGIP{
    background-image: url('../images/guidebg.png');
    background-repeat: no-repeat;
    padding: 4rem 16rem;
    @include responsive(tab-port){
        background-image: url('../images/guidebg.png');
        background-repeat: no-repeat;
        // background-size: cover;
        // background-position: bottom left;
        height: max-content;
        padding: 8rem 4rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        .logo-box {
            @include responsive(tab-port) {
                position: relative;
                left: -5rem;
            }

            &__img {
                width: 15rem;
            }
        }

        // .hamburger {}
    }

}

@media (min-width: 1200px){
.guideInv{
    &__title{
        font-size: 32px;
        margin: 80px 0px 64px;
        font-family: $fontS;
        color: black;
        font-weight: 700;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    &__card{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 56px;
    }
    &__top{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        img{
            grid-column: 1/2;
            grid-row: 1/2;
            width: 520px;
            height: 520px;
        }
        >a{
            grid-row: 1/2;
            grid-column: 1/2;
            margin: auto;
            background-color: $primary;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(150%) translateX(170%);
            transition: 0.6s;
            opacity: 0.7;
        }
        i{
            text-align: center;
            font-size: 32px;
            color: white;
        }
        >a:hover{
            background-color: $secondary;
        }
    }
    &__bottom{
        border: 1px solid black;
        background-color: white;
        padding: 24px 0px;
        text-align: center;
        max-width: 520px;
        border-radius: 0% 0% 100% 100%;
    }
    &__name{
        color: $secondary;
        font-size: 24px;
        font-weight: 900;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    &__role{
        color: $primary;
        font-size: 20px;
        font-weight: 800;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    &__episode{
        display: block;
        color: black;
        font-size: 18px;
        font-weight: 600;
        width: 72%;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        padding-bottom: 48px;
        text-align: center;
    }
}
}

@media (min-width: 320px) and (max-width: 480px){
    .guideInv{
        &__title{
            font-size: 32px;
            margin: 80px 0px 64px;
            font-family: $fontS;
            color: black;
            font-weight: 700;
        }
        &__wrapper{
            display: grid;
			grid-template-columns: 100%;
        }
        &__card{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 56px;
        }
		&__top{
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows: 100%;
			img{
				grid-column: 1/2;
				grid-row: 1/2;
				width: 320px;
				height: 320px;
				border-radius: 40% 40% 0% 0%;
			}
			>a{
				grid-row: 1/2;
				grid-column: 1/2;
				margin: auto;
				background-color: $primary;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				text-align: center;
				position: absolute;
				text-decoration: none;
				display: flex;
				justify-content: center;
				align-items: center;
				transform: translateY(180%) translateX(150%);
				transition: 0.6s;
				opacity: 0.7;
			}
			i{
				text-align: center;
				font-size: 32px;
				color: white;
			}
			>a:hover{
				background-color: $secondary;
			}
		}
        &__bottom{
            border: 1px solid black;
            background-color: white;
            padding: 24px 0px;
            text-align: center;
			max-width: 320px;
            border-radius: 0% 0% 100% 100%;
        }
        &__name{
            color: $secondary;
            font-size: 24px;
            font-weight: 900;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        &__role{
            color: $primary;
            font-size: 20px;
            font-weight: 800;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        &__episode{
            display: block;
            color: black;
            font-size: 18px;
            font-weight: 600;
            width: 72%;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
            padding-bottom: 48px;
            text-align: center;
        }
    }
}