.hero-headerIN {
    background-image: url('../images/INbg.png');
    background-repeat: no-repeat;
    padding: 4rem 16rem;
    @include responsive(tab-port){
        background-image: url('../images/INbg.png');
        background-repeat: no-repeat;
        // background-size: cover;
        // background-position: bottom left;
        height: max-content;
        padding: 8rem 4rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        .logo-box {
            @include responsive(tab-port) {
                position: relative;
                left: -5rem;
            }

            &__img {
                width: 15rem;
            }
        }

        // .hamburger {}
    }

}

@media (min-width: 1200px){
    .innov-newsP{
        &__title{
            font-size: 32px;
            margin: 80px 0px 64px;
            font-family: $fontS;
            color: white;
            font-weight: 700;
        }
        &__wrapper{
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }
        &__pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 120px;
            margin-top: 16px;
        a {
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            color: black;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 57px;
            height: 57px;
            transition: all .4s ease;
        }
        a:hover {
            background-color: $secondary;
            color: #fff;
        }
        a.active {
            background-color: $secondary;
            color: #fff;
            cursor: auto;
        }
        a+a {
            margin-left: 15px;
        }
    }
    }
}