.détails{
    display: grid;
    grid-template-columns: 50% 50%;

    &__article{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        border: 1px solid;
        border-radius: 18px;
        padding: 0px;
        height: 84rem;
        margin-left: 72px;
        
        &--picture{
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 18px;
        
        }
        &--title{
            font-size: 13px;
            font-weight: 400;
            text-align: center;
            margin-right: 55%;
        
           
        }
        
        &--line {
            background-color: $secondary;
            display: flex;
            width: 500px;
            height: 3px;
            position: relative;
            margin-left: 10%;
            margin-right: auto;
            margin-top: -62%;
        }

        
        &--line::before {
            content: '';
            width: 64px;
            height: 3px;
            background-color:$primary;
            position: absolute;
           
        }
        &--title2{
            font-size: 13px;
            text-align: center;
            margin-right: 59%;
           margin-top: -61%;

         
        }
        &--parg{
            font-size: 10px;
            margin-left: 10%;
            margin-top: -58%;
            margin-right: 13%;
            height: max-content;
        }

    }
    &__news{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        margin-left: auto;
        margin-right: auto;
        
        &--search{
            input{
                width: 80%;
                height: 38px;
                padding-left: 26px;

            }
            button{
                width: 18%;
                height: 38px;
            }
           
        }
        &--title{
            color: $primary;
            font-size: 14px;
            margin-top: -42%;
        }
        &--line{

            background-color: $secondary;
            display: flex;
            width: 80px;
            height: 3px;
            position: relative;
            
           
        }
        &--catégories{
          i{
              margin-left: 2px;         
             }
             h4{
                 margin-left: 2px;
             }
        }
        &--récent{
            margin-bottom: 20px;
            img{
                float: left;
                width: 68px;
                border-radius: 50%;
            
            }
           
            p{
                text-align: center;
                font-size: 13px; 
            }
            
            
            }
            &--title4{
                text-align: center;
                font-size: 16px;
                margin-top: 17px;
               margin-right: -26px;
            }

        
         
        &--subscribe{
            background-color: $primary;
             width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            h3{
                text-align: center;
                color: $color-white;
                font-size: 13px;
                margin-top: -9%;
                margin-right: 34px;
            }
            input{
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 72%;
                height: 38px;
                margin-bottom: 10px;
                padding-left: 27px;

            

            }
            i{
                color: $color-white;
                font-size: 30px;
                margin-left: 22px;
                margin-top: 20px;
            
            }
            button{
                background-color: $secondary;
                color: $color-white;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 86%;
                height: 38px;
                border: none;
                
               
            }
        }
       
    }
}