.headerPost{
  background-image: url('../images/bg-invP.png');
  background-repeat: no-repeat;
  background-size: 48%;
  padding: 4rem 16rem;
  @include responsive(tab-port){
      background-image: url('../images/bg-invP.png');
      background-repeat: no-repeat;
      background-size: contain;
      // background-position: bottom left;
      height: max-content;
      padding: 8rem 4rem;
  }

  &__nav {
      display: flex;
      justify-content: space-between;

      .logo-box {
          @include responsive(tab-port) {
              position: relative;
              left: -5rem;
          }

          &__img {
              width: 15rem;
          }
      }

      // .hamburger {}
  }
}


@media (min-width: 1200px){
  .newspostC2{
    margin-top: 120px;
    &__title{
      display: block;
      text-align: center;
      font-size: 32px;
      color: black;
      width: 48%;
      margin-left: auto;
      margin-right: auto;
    }
    &__date{
      text-align: center;
      font-size: 24px;
      color: black;
      font-weight: 400;
    }
    &__cover{
      display: block;
      width: 72%;
      height: 520px;
      margin: 48px auto 72px;
    }
    &__content{
      width: 80%;
      text-align: justify;
      text-align-last: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 24px;
      margin-bottom: 120px;
    }
  }
  .lastNews{
    margin-bottom: 80px;
    &__wrapper{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    }
    &__title{
      font-family: $fontS;
      font-size: 40px;
    }
  }
  .borderblog{
    border: 1px solid black;
  }
}

@media (min-width: 320px) and (max-width: 480px){
  .newspostC2{
    margin-top: 56px;
    &__title{
      display: block;
      text-align: center;
      font-size: 24px;
      color: black;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    &__date{
      text-align: center;
      font-size: 16px;
      color: black;
      font-weight: 400;
    }
    &__cover{
      display: block;
      width: 88%;
      height: auto;
      margin: 48px auto;
    }
    &__content{
      width: 88%;
      text-align: justify;
      text-align-last: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      margin-bottom: 80px;
    }
  }
  .lastNews{
    margin-bottom: 80px;
    &__wrapper{
    display: grid;
    grid-template-columns: 100%;
    }
    &__title{
      font-family: $fontS;
      font-size: 32px;
    }
  }
  .borderblog{
    border: 1px solid black;
  }
}
