.TopNew{
  background-image: url(../images/2aibg.png);
background-size: 50%;
background-repeat: no-repeat;
background-position:100% 0; 
  &__title{
     text-align: center;
    font-size:47px;
    margin-top:10%;
  }
    .prg{
    text-align: center;
    margin-bottom:2%;
    font-size:12px;
}
}
.news{
  &__img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:3%;
        width: 55%;
        height: 425px;
        }
        &__txt{
    font-size:29px;
    margin-left:22%;
    }
    &__txt1{
          margin-top: 5%;
          font-size:29px;
          margin-left:22%;
    }
}
.titr{
  margin-left:23%;  
  font-size:40px;
}

.titr2{
  margin-left:22%;  
   font-size:29px;
  
}

 @media (min-width: 320px) and (max-width: 480px){
   .news{
    &__txt{
       text-align: center;
       margin-left:0;
      }
      &__txt{
        font-size:18px;
      }
      &__title{
        font-size:18px;
      }
       &__img{
       
        width: 70%;
        height: 400px;
        }
   }
   .titr{
     text-align: center;
       margin-left:0;
       font-size:29px;
   }
   .titr2{
  margin-left:0%;
   font-size:16px; 
   text-align: center;
  
}
 }
 @media (min-width: 600px)and (max-width: 1024px){
   .news{
    &__txt{
       
       margin-left:6%;
      }
      &__txt{
        font-size:18px;
      }
      &__title{
        font-size:18px;
      }
       &__img{
       
        width: 70%;
        height: 400px;
        }
   }
     .titr{
    
       margin-left:7%;
       font-size:29px;
   }
   .titr2{
  margin-left:7%;
   font-size:20px; 
   
 }
  }