.news{
&__title{
    text-align: center;
    font-size:30px;
    margin-top:12%;     
}

&__img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
&__txt{
    font-size:20px;
    margin-left:23%;
}

}

