.hero-headerC2NP{
    background-image: url('../images/bgHeaderC2.png');
    background-repeat: no-repeat;
    padding: 4rem 16rem;
    @include responsive(tab-port){
        background-image: url('../images/bgHeaderC2.png');
        background-repeat: no-repeat;
        // background-size: cover;
        // background-position: bottom left;
        height: max-content;
        padding: 8rem 4rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        .logo-box {
            @include responsive(tab-port) {
                position: relative;
                left: -5rem;
            }

            &__img {
                width: 15rem;
            }
        }

        // .hamburger {}
    }

}

@media (min-width: 1200px){
  .newsC2P{
    &__title{
        font-family: $fontS;
        font-size: 40px;
        margin: 80px 0px 64px;
        color:white;
    }
    &__wrapper{
      display:grid;
      grid-template-columns: 33% 33% 33%;
    }
    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 120px;
    a {
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        color: black;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 57px;
        height: 57px;
        transition: all .4s ease;
    }
    a:hover {
        background-color: $secondary;
        color: #fff;
    }
    a.active {
        background-color: $secondary;
        color: #fff;
        cursor: auto;
    }
    a+a {
        margin-left: 15px;
    }
    }

  }
.blogshadow{
    border:1px solid black;
  }
}


@media (min-width: 320px) and (max-width: 480px){
  .newsC2P{
    &__title{
            font-family: $fontS;
            font-size: 32px;
            margin: 80px 0px 64px;
            color:white;
        }
    &__wrapper{
            display: grid;
            grid-template-columns: 100%;
            margin-bottom: 32px;
        }
    &__pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 56px;
        a {
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            color: black;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            transition: all .4s ease;
        }
        a:hover {
            background-color: $secondary;
            color: #fff;
        }
        a.active {
            background-color: $secondary;
            color: #fff;
            cursor: auto;
        }
        a+a {
            margin-left: 15px;
        }
    }
    }
.blogshadow{
    border:1px solid black;
  }

  }