
.part-one{


    padding-top: 12%;

    &__title{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        margin-top: 12px;
    }
    &__parag{
        text-align: center;
        font-size: 24px;
    }


    img{
        position: absolute;
        margin-top: -6%;
        margin-left: 14%;
        width: 6%
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 55px;
    grid-row-gap: 10px;
    margin-top: -15%;
        }



.première {

     grid-area: 2 / 2 / 3 / 3; 

    }
     .première__cart{

       
        position: absolute;
        width: 175px;
        left: 10%;
        top: 10%;
        box-shadow: 0 0 27px 0 rgba(6,15,154,.1);
        border-radius: 0px 0px 31px 0px;

        
        
    }


    .imag{

      position: relative;    
    }

    

    
    

    
   


    

   




.deuxièm { 
    
    grid-area: 2 / 3 / 3 / 4;


}



.troisième {
    
    grid-area: 2 / 4 / 3 / 5;

}


.quatrième { 
    
    grid-area: 3 / 2 / 4 / 3;


}


.cinquième {
    
    grid-area: 3 / 3 / 4 / 4; 


}


.sixième {
    
    
    grid-area: 3 / 4 / 4 / 5;

}


.sept {
    
    grid-area: 4 / 2 / 5 / 3;

}


.huitième {
    
    grid-area: 4 / 3 / 5 / 4; 

}

.neuf {


     grid-area: 4 / 4 / 5 / 5;
    
    }

