
@media (min-width: 1200px){


.contenu{
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
    align-content: stretch;
    margin-top: 110px;
    padding: 1% 2% 8% 8%;


    &__play-btn {
        width: 413px;
        height: 100px;
        background: radial-gradient( rgba(8, 160, 87, 0.8) 60%, rgba(8, 160, 87, 0.8) 62%);
        border-radius: 50%;
        position: relative;
        display: block;
        margin: 354px 266px 271px -359px;
        box-shadow: 0px 0px 25px 3px rgba(8, 160, 87, 0.8);
      }
    
      /* triangle */
    &__play-btn::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-40%) translateY(-50%);
        transform: translateX(-40%) translateY(-50%);
        transform-origin: center center;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 25px solid #fff;
        z-index: 100;
        -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    
      /* pulse wave */
    &__play-btn:before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation: pulsate1 2s;
        animation: pulsate1 2s;
        -webkit-animation-direction: forwards;
        animation-direction: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: steps;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, .75);
        top: -30%;
        left: -30%;
        background: rgba(198, 16, 0, 0);
      }
    
      @-webkit-keyframes pulsate1 {
        0% {
          -webkit-transform: scale(0.6);
          transform: scale(0.6);
          opacity: 1;
          box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
        }
        100% {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 0;
          box-shadow: none;
      
        }
      }
    
      @keyframes pulsate1 {
        0% {
          -webkit-transform: scale(0.6);
          transform: scale(0.6);
          opacity: 1;
          box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
        }
        100% {
          -webkit-transform: scale(1, 1);
          transform: scale(1);
          opacity: 0;
          box-shadow: none;
      
        }
      }

   

}



.contenu-écrit{

    margin-top: 17px;
   
    &__titre{
        font-size: 41px;
        padding: 0% 12% 0% 7%;

    }

    &__para{

        font-size: 31px;
        padding: 0% 14% 1% 7%;
    }
}

.aboutlLin{
    margin-left: 7% !important;
}

  

























}








@media (min-width: 320px) and (max-width: 480px){


    .contenu{

        display: flex;
        flex-direction: column-reverse;
        margin-top: 110px;
        padding: 0% 8% 20% 8%;

     &__image{
         width: 271px;
     }      
    }

    .contenu-écrit{

        margin-top: 17px;
       
        &__titre{
            text-align: center;
            font-size: 23px;
            padding: 0% 12% 0% 7%;
    
        }
    
        &__para{
            
            text-align : center;
            font-size: 16px;
            padding: 30px 0% 3% 4%;
            font-weight: 500;
            
        }
    }
    
    .aboutlLin{
        margin-left: 97px !important;
    }






    
    

}








@media (min-width: 600px)and (max-width: 1024px){
    
    .contenu{

        display: flex;
        flex-direction: column-reverse;
        margin-top: 110px;
        padding: 0% 8% 20% 8%;
    
    }

    .contenu-écrit{

        margin-top: 17px;
       
        &__titre{
            text-align: center;
            font-size: 41px;
            padding: 0% 12% 0% 7%;
    
        }
    
        &__para{
            
            text-align : center;
            font-size: 25px;
            padding: 30px 0% 3% 4%
            
        }
    }
    
    
    

    
}