// Desktop
@media (min-width: 1200px){
    .seeTeam {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: $secondary;
        color: white;
        border: none;
        height: 55px;
        padding: 0 40px;
        border-radius: 70px;
        transition: 3.5;
        line-height: 60px;
        text-transform: uppercase;
        transition: 0.6s;
        font: {
            size: 15px;
            weight: 700;
        }
        &:hover {
            background-color: $primary;
            color: white;
        }
    }

    .contactHeader{
        border: none;
        padding: 25px 32px;
        border-radius:50px;
        border: 2px solid $primary;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: white;
        cursor: pointer;
        transition: .4s;
    }
    .contactHeader:hover{
        background-color: transparent;
        border: 2px solid $primary;
        color: $primary;
    }

    
    .banner-one__video {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 14px;
        transition: all 500ms ease;
        margin: auto 24px;
        position: relative;
    }
    
    .banner-one__video::before,
    .banner-one__video::after {
        content: '';
        position: absolute;
        width: 68px;
        height: 68px;
        border-radius: 40%;
        border: 1px solid $secondary;
        opacity: 1;
        top: calc(50% - 34px);
        left: calc(50% - 34px);
        animation: videoBtnAnim 3s linear infinite;
        z-index: 1;
    }
    
    .banner-one__video::after {
        width: 75px;
        height: 75px;
        left: calc(50% - 37.5px);
        top: calc(50% - 37.5px);
        opacity: 1;
    }
    
    .banner-one__video::before {
        animation-delay: 1s;
    }
    
    .banner-one__video:hover {
        background-color: $primary;
        color: #fff;
    }
    .contactBtnSection{
        background-color: transparent;
        padding: 32px;
        border-radius: 64px;
        margin: auto 16px auto auto;
        font-size: 16px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.6s;
        border: 2px solid $primary;
    }
    .contactBtnSection:hover{
        border: 2px solid $primary;
        background-color: $primary;
        color: white;

    }
    
    .devisBtnSection{
        border: 2px solid $primary;
        background-color: $primary;
        padding: 32px;
        border-radius: 64px;
        margin: auto;
        font-size: 16px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.6s;
    }
    .devisBtnSection:hover{
        border: 2px solid $primary;
        background-color: transparent;
    }

    @keyframes videoBtnAnim {
        0% {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 1;
        }
    
        25% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0.4;
        }
    
        50% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0.8;
        }
    
        75% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0.4;
        }
    
        100% {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 1;
        }
    }
    .services__info--btn{
    border: none;
    padding: 25px 32px;
    border-radius:50px;
    width: 32%;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $secondary;
    color: white;
    cursor: pointer;
    transition: 0.6s;
    border: 1px solid $secondary;
    }
    .services__info--btn:hover{
        border: 1px solid $secondary;
        background-color: transparent;
        color: $secondary;
    }
    .sendBtnPage{
        padding: 16px 24px;
        border: none;
        background-color: $secondary;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border-radius: 24px;
        width: 32%;
        cursor: pointer;
    }
}

// Mobile
@media (min-width: 320px) and (max-width: 480px){
    .seeTeam {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: $secondary;
        color: white;
        border: none;
        height: 55px;
        padding: 0 32px;
        border-radius: 70px;
        transition: 3.5;
        line-height: 60px;
        text-transform: uppercase;
        transition: 0.6s;
        font: {
            size: 15px;
            weight: 700;
        }
        &:hover {
            background-color: $primary;
            color: white;
        }
    }

    .contactHeader{
        border: none;
        padding: 24px 18px;
        border-radius:50px;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $primary;
        border: 1px solid $primary;
        color: white;
        cursor: pointer;
        transition: 0.4s;
    }
    .contactHeader:hover{
        background-color: transparent;
        border: 1px solid $primary;
        color: $primary;

    }

    .services__info--btn{
        border: none;
        padding: 25px 32px;
        border-radius:50px;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $secondary;
        color: white;
        cursor: pointer;
        transition: 0.6s;
    }
    .services__info--btn:hover{
        border: 1px solid $secondary;
        background-color: transparent;
        color: $secondary;
    }

    
    .banner-one__video {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 14px;
        transition: all 500ms ease;
        margin: auto 24px;
        position: relative;
    }
    
    .banner-one__video::before,
    .banner-one__video::after {
        content: '';
        position: absolute;
        width: 68px;
        height: 68px;
        border-radius: 40%;
        border: 1px solid $secondary;
        opacity: 1;
        top: calc(50% - 34px);
        left: calc(50% - 34px);
        animation: videoBtnAnim 3s linear infinite;
        z-index: 1;
    }
    
    .banner-one__video::after {
        width: 75px;
        height: 75px;
        left: calc(50% - 37.5px);
        top: calc(50% - 37.5px);
        opacity: 1;
    }
    
    .banner-one__video::before {
        animation-delay: 1s;
    }
    
    .banner-one__video:hover {
        background-color: $primary;
        color: #fff;
    }

    .contactBtnSection{
        border: 4px solid $primary;
        background-color: transparent;
        padding: 32px;
        border-radius: 64px;
        display: block;
        margin: auto auto 24px auto;
        font-size: 16px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.6s;
    }
    .contactBtnSection:hover{
        border: 2px solid $primary;
        background-color: $primary;
        color: white;

    }
    
    .devisBtnSection{
        border: 4px solid $primary;
        background-color: $primary;
        padding: 32px;
        border-radius: 64px;
        display: block;
        margin: auto;
        font-size: 16px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.6s;
    }
    .devisBtnSection:hover{
        border: 2px solid $primary;
        background-color: transparent;
    }

    @keyframes videoBtnAnim {
        0% {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 1;
        }
    
        25% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0.4;
        }
    
        50% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0.8;
        }
    
        75% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0.4;
        }
    
        100% {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 1;
        }
    }


    .sendBtnPage{
        padding: 16px 24px;
        border: none;
        background-color: $secondary;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border-radius: 24px;
        width: 64%;
        cursor: pointer;
    }
}

// Tablet
@media (min-width: 600px)and (max-width: 1024px){
    .seeTeam {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: $secondary;
        color: white;
        border: none;
        height: 55px;
        padding: 0 32px;
        border-radius: 70px;
        transition: 3.5;
        line-height: 60px;
        text-transform: uppercase;
        transition: 0.6s;
        font: {
            size: 15px;
            weight: 700;
        }
        &:hover {
            background-color: $primary;
            color: white;
        }
    }
    .contactHeader{
        border: none;
        padding: 24px 40x;
        border-radius:50px;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $primary;
        color: white;
        cursor: pointer;
        transition: 0.6s;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    }
    .contactHeader:hover{
        background-color: transparent;
        border: 1px solid $primary;
        color: $primary;

    }

    .services__info--btn{
        border: none;
        padding: 25px 32px;
        border-radius:50px;
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $secondary;
        color: white;
        cursor: pointer;
        transition: 0.6s;
    }
    .services__info--btn:hover{
        border: 1px solid $secondary;
        background-color: transparent;
        color: $secondary;
    }
    .banner-one__video {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 14px;
        transition: all 500ms ease;
        margin: auto;
        position: relative;
    }
    
    .banner-one__video::before,
    .banner-one__video::after {
        content: '';
        position: absolute;
        width: 68px;
        height: 68px;
        border-radius: 40%;
        border: 1px solid $secondary;
        opacity: 1;
        top: calc(50% - 34px);
        left: calc(50% - 34px);
        animation: videoBtnAnim 3s linear infinite;
        z-index: 1;
    }
    
    .banner-one__video::after {
        width: 75px;
        height: 75px;
        left: calc(50% - 37.5px);
        top: calc(50% - 37.5px);
        opacity: 1;
    }
    
    .banner-one__video::before {
        animation-delay: 1s;
    }
    
    .banner-one__video:hover {
        background-color: $primary;
        color: #fff;
    }

    .contactBtnSection{
        border: 4px solid $primary;
        background-color: transparent;
        padding: 32px;
        border-radius: 64px;
        display: block;
        margin: auto auto 24px auto;
        font-size: 16px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.6s;
    }
    .contactBtnSection:hover{
        border: 2px solid $primary;
        background-color: $primary;
        color: white;

    }
    
    .devisBtnSection{
        border: 4px solid $primary;
        background-color: $primary;
        padding: 32px;
        border-radius: 64px;
        display: block;
        margin: auto;
        font-size: 16px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.6s;
    }
    .devisBtnSection:hover{
        border: 2px solid $primary;
        background-color: transparent;
    }

    @keyframes videoBtnAnim {
        0% {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 1;
        }
    
        25% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0.4;
        }
    
        50% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0.8;
        }
    
        75% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0.4;
        }
    
        100% {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
            opacity: 1;
        }
    }


    .sendBtnPage{
        padding: 16px 24px;
        border: none;
        background-color: $secondary;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border-radius: 24px;
        width: 40%;
        cursor: pointer;
    }
}