

.contact{
    
    height: 600px;
    width: 100%;
    background-image: url(../images/bg_contact.png);
    background-size: 100% 100%;
    margin-top: 6%;
    margin-bottom: 6%;
   
}

.form{

    display: flex;
    flex-direction: row;
	align-items: center;
    align-content: center;
    padding-top: 20%;
    
}


.titres{

    padding-right: 8%;
    padding-left: 8%;

    &__première{

        color: $color-white;
        font-size: 53px;
        font-family: Playfair Display;
        padding-right: 37%;
    }

    &__deuxième{

        color: $color-white;
        font-size: 64px;
        



    }
}



.button{


    &__first{

        border-radius: 3em;
        top: 50%;
        left: 50%;
        transform: translate(35%, -50%);
        background-color: Transparent;
        font-size: 17px;
        padding: 28px 20px;
        border:  3px solid $primary;
        cursor: pointer;
        text-align: center;
        color:  $color-white;

        
    }
    

    &__second{

        border-radius: 3em;
        top: 50%;
        left: 50%;
        transform: translate(40%, -50%);
        background-color: $primary;
        font-size: 19px;
        padding: 34px 46px;
        border: none;
        cursor: pointer;
        text-align: center;
        color:  $color-white;

    } 
}

@media (min-width: 600px) and (max-width: 1024px){

    .form{

        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding-top: 10%;
        
    }

    .titres{


    
        &__première{
    
            color: $color-white;
            font-size: 22px;
            font-family: Playfair Display;
            padding-left: 27%;
        }
    
        &__deuxième{
    
            color: $color-white;
            font-size: 39px;
            
            
    
    
    
        }
    }


    .button{

        padding-top: 88px;
        padding-right: 162px;

     
        &__first{
    
            border-radius: 3em;
            transform: translate(35%, -50%);
            background-color: Transparent;
            font-size: 16px;
            padding: 31px 16px;
            border:  3px solid $primary;
            cursor: pointer;
            text-align: center;
            color:  $color-white;
    
            
        }
        
    
        &__second{
    
            border-radius: 3em;
            transform: translate(40%, -50%);
            background-color: $primary;
            font-size: 16px;
            padding: 31px 32px;
            border: none;
            cursor: pointer;
            text-align: center;
            color:  $color-white;
    
        } 
    }


}


@media (min-width: 320px) and (max-width: 480px){



    .contact{

        height: 393px;
        width: 100%;;
        margin-top: 20%;
        margin-bottom: 15%;
    }
    

    .form{

        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding-top: 39%;
        
    }

    .titres{


        padding-right: 7%;
        padding-left: 19%;

    
        &__première{
    
            color: $color-white;
            font-size: 10px;
            font-family: Playfair Display;
            padding-left: 27%;
        }
    
        &__deuxième{
    
            color: $color-white;
            font-size: 18px;
            
            
    
    
    
        }
    }


    .button{

        padding-top: 51px;
        padding-right: 68px;

     
        &__first{
    
            border-radius: 3em;
            transform: translate(35%, -50%);
            background-color: Transparent;
            font-size: 9px;
            padding: 19px 16px;
            border:  3px solid $primary;
            cursor: pointer;
            text-align: center;
            color:  $color-white;
    
            
        }
        
    
        &__second{
    
            border-radius: 3em;
            transform: translate(40%, -50%);
            background-color: $primary;
            font-size: 9px;
            padding: 19px 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color:  $color-white;
    
        } 
    }

}






