

.contact{
    
    height: 600px;
    width: 100%;
    background-image: url(../images/bg_contact.png);
    background-size: 100% 100%;
    margin-top: 6%;
    margin-bottom: 6%;
   
}

.form{

    display: flex;
    flex-direction: row;
	align-items: center;
    align-content: center;
    padding-top: 10%;
    
}


.titres{

    padding-right: 8%;
    padding-left: 8%;

    &__première{

        color: $color-white;
        font-size: 53px;
        font-family: Playfair Display;
        padding-right: 37%;
    }

    &__deuxième{

        color: $color-white;
        font-size: 64px;
        



    }
}



.button{


    &__first{

        border-radius: 3em;
        top: 50%;
        left: 50%;
        transform: translate(35%, -50%);
        background-color: Transparent;
        font-size: 16px;
        padding: 34px 44px;
        border:  3px solid $primary;
        cursor: pointer;
        text-align: center;
        color:  $color-white;

        
    }
    

    &__second{

        border-radius: 3em;
        top: 50%;
        left: 50%;
        transform: translate(40%, -50%);
        background-color: $primary;
        font-size: 19px;
        padding: 34px 46px;
        border: none;
        cursor: pointer;
        text-align: center;
        color:  $color-white;

    } 
}







