@media (min-width: 1200px){
.gallerySection{
    position: relative;
    margin-bottom: 120px;
    &__title{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        margin-top: 12px;
    }
    &__subtitle{
        text-align: center;
        font-size: 24px;
    }
    &__container{
        margin-top: 80px;
    }

}
.galleryWidth{
    margin: 130px auto 220px;
}
}


@media (min-width: 320px) and (max-width: 480px){
    .gallerySection{
        position: relative;
        margin-bottom: 120px;
        &__title{
			text-align: center;
			font-size: 24px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			font-weight: 700;
        }
        &__subtitle{
			text-align: justify;
			font-size: 16px;
			font-weight: 500;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align-last: center;
        }
        &__container{
            margin-top: 80px;
        }
    
    }
    .galleryWidth{
        margin: 80px auto;
    }
}

@media (min-width: 600px)and (max-width: 1024px){
    .gallerySection{
        position: relative;
        margin-bottom: 120px;
        &__title{
			text-align: center;
			font-size: 24px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			font-weight: 700;
        }
        &__subtitle{
			text-align: justify;
			font-size: 16px;
			font-weight: 500;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align-last: center;
        }
        &__container{
            margin-top: 80px;
        }
    
    }
    .galleryWidth{
        margin: 130px auto;
    }
}

.galleryWidth{
    width: 72%;
    img{
        width: 320px;
    }
}


.gallerySection__container::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/phone.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 280px;
    height: 140%;
    background-size: 100% auto;
}