.headerAlt{
    background-image: url(../images/bg_headerAlt.png);
    height: 600px;
    padding: 4rem 16rem;
    @include responsive(tab-port){
        background-image: url('../images/bg_headerAlt.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom left;
        height: max-content;
        padding: 8rem 4rem;
    }
}

@media (min-width: 1200px){
.headerAlt{
    &__container{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% max-content;
        grid-template-rows: 100%;
        margin: 9% auto;
    }
    &__title{
        font-size: 48px;
        color: $secondary;
    }
    &__list{
        grid-column: 4/7;
        font-size: 32px;
        margin: auto;
        il{
            color: $primary;
        }
        a{
        font-weight: 500;
        color: $primary;
        text-decoration: none;
        }
    }
}
}

@media (min-width: 320px) and (max-width: 480px){
.headerAlt{
    &__container{
        display: grid;
        grid-template-rows: 100%;
        margin: 9% auto;
        width: 100%;
    }
    &__title{
        font-size: 24px;
        color: $secondary;
    }
    &__list{
        grid-column: 2/3;
        font-size: 16px;
        margin: auto;
        il{
            color: $primary;
        }
        a{
        font-weight: 500;
        color: $primary;
        text-decoration: none;
        }
    }
}
}