.hero-header {
    background-image: url('../images/bg_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    padding: 4rem 16rem;
    @include responsive(tab-port){
        background-image: url('../images/bg_header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom left;
        height: max-content;
        padding: 8rem 4rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        .logo-box {
            @include responsive(tab-port) {
                position: relative;
                left: -5rem;
            }

            &__img {
                width: 15rem;
            }
        }

        // .hamburger {}
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 8rem;

        @include responsive(small-desktop) {
            flex-direction: column;
            align-content: center;
            align-items: center;
            text-align: center;
        }

        &-text {
            color: black;
            // margin: auto;

            .heading {
                font-size: 4.5rem;
                line-height: 1.5;
                font-weight: 700;
                width: 62rem;
                font-family: $fontS;

                @include responsive(tab-land) {
                    width: 100%;
                    display: inline-block;
                }
            }

            .sub-heading {
                color: black;
                font-size: 2.6rem;
                margin: 2rem 0;
                width: 61rem;

                @include responsive(tab-land) {
                    width: 100%;
                    display: inline-block;
                }

                @include responsive(tab-port) {
                    margin: 2rem 0 8rem;
                    font-weight: 500;
                }
            }
        }

    }


    &__slider {
        width: 70rem;
        height: 47rem;
        margin-right: 10rem;

        @include responsive(small-desktop) {
            margin-right: 0;
        }

        @include responsive(phone) {
            width: 40rem;

        }
    }

    &__outer {
        height: 100%;

        @include responsive(small-desktop) {
            height: 93%;
        }

        @include responsive(phone) {
            height: 56%;

        }
    }

    .hero-slide {
        &__img {
            width: 48rem !important;

            @include responsive(phone) {
                width: 47rem !important;

            }
        }
    }

}




@media (min-width: 1200px){
.bnn{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 100%;
    margin-top: -240px;
}
}

@media (min-width: 320px) and (max-width: 480px){
    .bnn{
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-rows: 100%;
        padding: 2rem 6rem;
    }
}


@media (min-width: 600px)and (max-width: 1024px){
    .hero-header {
        background-image: url('../images/bg_header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom left;
        height: max-content;
        padding: 8rem;
}
.bnn{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
    width: 56%;
}
}