
@media (min-width: 1025px) and (max-width: 1440px){
  .newsletter{
    br{
      display: none;
    }
    &__container{
      background-color: #fff;
      box-shadow: 0 8px 27px 0 rgba(29,47,60,.18);
      padding: 24px;
      width: 64%;
      margin: 0px auto -112px;
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 50% 50%;
      z-index: 100;
      position: relative;
    }
    &__title{
      grid-column: 1/3;
      grid-row: 1/2;
      margin: 0px auto 80px;
      font-size: 40px;
      color: $primary;
      width: 80%;
      text-align: justify;
      text-align-last: center;
      
    }
    span{
      color: $secondary;
      font-family: $fontS;
    }
    &__form{
      grid-column: 1/3;
      grid-row: 2/3;
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: max-content max-content max-content;
      margin-right: auto;
      margin-left: auto;
    }
    .fa-envelope{
      color: $secondary;
      grid-area: 1/1;
      grid-row: 1/2;
      grid-column: 1/2;
      font-size: 56px;
      margin: auto;
      padding-right: 40px;
    }
    input{
      height: 64px;
      width: 384px;
      margin: auto -40px auto auto;
      background-color: $primary-variant;
      border: none;
      padding-left: 40px;
      grid-area: 1/2;
      grid-row: 1/2;
      grid-column: 2/3;
      font-size: 16px;
      font-weight: 700;
      color: black;
    }
    button{
      height: 64px;
      border: none;
      background-color: $secondary;
      color: white;
      font-size: 16px;
      font-weight: 700;
      margin: auto;
      padding: 8px 32px;
      border-radius: 32px;
      cursor: pointer;
      transition: 0.6s;
    }
    button:hover{
      background-color: $primary-variant;
      border: 2px solid $secondary;
      color: $secondary;
    }
  }
  
  }

@media (min-width: 1441px){
.newsletter{
  br{
    display: none;
  }
  &__container{
    background-color: #fff;
    box-shadow: 0 8px 27px 0 rgba(29,47,60,.18);
    padding: 24px;
    width: 56%;
    margin: 0px auto -112px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    z-index: 100;
    position: relative;
  }
  &__title{
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0px auto 80px;
    font-size: 40px;
    color: $primary;
    
  }
  span{
    color: $secondary;
    font-family: $fontS;
  }
  &__form{
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: max-content max-content max-content;
    padding-left: 184px;
    padding-right: 184px;
    margin-right: auto;
    margin-left: auto;
  }
  .fa-envelope{
    color: $secondary;
    grid-area: 1/1;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 56px;
    margin: auto;
    padding-right: 40px;
  }
  input{
    height: 64px;
    width: 384px;
    margin: auto -40px auto auto;
    background-color: $primary-variant;
    border: none;
    padding-left: 40px;
    grid-area: 1/2;
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 16px;
    font-weight: 700;
    color: black;
  }
  button{
    height: 64px;
    border: none;
    background-color: $secondary;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    padding: 8px 32px;
    border-radius: 32px;
    cursor: pointer;
    transition: 0.6s;
  }
  button:hover{
    background-color: $primary-variant;
    border: 2px solid $secondary;
    color: $secondary;
  }
}

}

@media (min-width: 320px) and (max-width: 480px){
  .newsletter{
    &__container{
      background-color: #fff;
      box-shadow: 0 8px 27px 0 rgba(29,47,60,.18);
      padding: 24px 40px;
      width: 64%;
      margin: 0px auto -180px;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: max-content max-content;
      z-index: 100;
      position: relative;
    }
    &__title{
      grid-column: 1/2;
      grid-row: 1/2;
      margin: 0px auto 24px;
      font-size: 24px;
      text-align: center;
      color: $primary;
      
    }
    span{
      color: $secondary;
      font-family: $fontS;
      font-weight: 700;
    }
    &__form{
      grid-column: 1/2;
      grid-row: 2/3;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: max-content max-content max-content;
      margin-right: auto;
      margin-left: auto;
    }
    .fa-envelope{
      color: $secondary;
      grid-area: 1/1;
      font-size: 40px;
      margin: 0px auto 16px;
    }
    input{
      height: 64px;
      width: 100%;
      background-color: $primary-variant;
      border: none;
      padding-left: 8px;
      grid-area: 2/1;;
      font-size: 16px;
      font-weight: 700;
      color: black;
      text-align: center;
      margin: 0px auto 16px;
      border-radius: 8%;
    }
    button{
      display: block;
      height: 64px;
      border: none;
      background-color: $secondary;
      color: white;
      font-size: 16px;
      font-weight: 700;
      margin: auto;
      padding: 6px 24px;
      border-radius: 32px;
      cursor: pointer;
      transition: 0.6s;
      grid-area: 3/1;
    }
    button:hover{
      background-color: $primary-variant;
      border: 2px solid $secondary;
      color: $secondary;
    }
  }
}

@media (min-width: 600px)and (max-width: 1024px){
  .newsletter{
    &__container{
      background-color: #fff;
      box-shadow: 0 8px 27px 0 rgba(29,47,60,.18);
      padding: 24px 88px;
      width: 56%;
      margin: 0px auto -200px;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 500 50%;
      z-index: 100;
      position: relative;
    }
    &__title{
      grid-area: 1/1;
      margin: 0px auto 40px;
      font-size: 40px;
      color: $primary;
      text-align: center;
      
    }
    span{
      color: $secondary;
      font-family: $fontS;
    }
    &__form{
      grid-area: 2/1;
      display: grid;
      grid-template-rows: max-content max-content;
      grid-template-columns: 100%;
    }
    .fa-envelope{
      color: $secondary;
      grid-area: 1/1;
      font-size: 56px;
      margin: 0px auto 24px;
    }
    input{
      grid-area: 2/1;
      height: 64px;
      background-color: $primary-variant;
      border: none;
      padding-left: 40px;
      font-size: 16px;
      font-weight: 700;
      color: black;
    }
    button{
      margin-left: 72%;
      grid-area: 2/1;
      width: 37%;
      height: 64px;
      border: none;
      background-color: $secondary;
      color: white;
      font-size: 16px;
      font-weight: 700;
      padding: 8px 24px;
      border-radius: 32px;
      cursor: pointer;
      transition: 0.6s;
    }
    button:hover{
      background-color: $primary-variant;
      border: 2px solid $secondary;
      color: $secondary;
    }
  }
}

