.partnersWidth{
    width: 80%;
    margin: auto;
}

.partners{

&__title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}


&__container{

    &--partner{
        width: max-content;
        margin: 40px auto;
    }
    
    a{
            display: block;
            background-color: $primary-variant;
            border-radius: 5px;
            padding: 32px;
    }
    
    img{ 
       
        width: 280px;
        height: 60px;
        vertical-align: middle;
     
       
       
    }
   
}

}
