.partnersWidth{
    width: 80%;
    margin: auto auto 120px auto;
}
.partners__item{
    list-style: none;
}
.partners{

&__title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 12px;
}


&__container{

    &--partner{
        width: max-content;
        margin: 40px auto;
    }
    
    a{
            
            display: block;
            border-radius: 5px;
            padding: 32px;
    }
    
    img{ 
       
        width: 280px;
        height: 60px;
        vertical-align: middle;
      
    }
   
}

}
