@media (min-width: 1200px){
    .block-title__line {
        background-color: $secondary;
        display: flex;
        width: 64px;
        height: 6px;
        border-radius: 3px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    
    .block-title__line::before {
        content: '';
        width: 8px;
        height: 6px;
        background-color: white;
        border-radius: 3px;
        position: absolute;
        left: 12px;
        top: 0px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .teamUs {
        &__title{
            text-align: center;
            font-size: 40px;
            font-weight: 700;
        }
        &__subtitle{
            text-align: center;
            font-size: 24px;
        }
        &__container{
            width: 64%;
            margin: 40px auto;
        }
        a{
            text-decoration: none;
        }
    }

    .team-box {
        margin-bottom: 30px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
        background-color: white;
        transition: .5s;
        text-align: center;
        margin: 24px;
    
        .image {
            position: relative;
            overflow: hidden;
    
            img {
                transition: .5s;
            }
            .social {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 2;
                text-decoration: none;
                opacity: 0;
                margin-top: -100px;
                padding: 10px 15px 5px;
                background: white;
                border-radius: 35px;
                visibility: hidden;
                transition: .5s;
    
                a {
                    display: inline-block;
                    color: $primary;
                    font-size: 18px;
                    margin: 0 6px;
    
                    &:hover {
                        color: $secondary;
                    }
                }
            }
        }
        .content {
            padding: 25px;
            position: relative;
            transition: .5s;
    
            h3 {
                margin-bottom: 0;
                transition: .5s;
                font: {
                    size: 22px;
                }
            }
            span {
                display: block;
                margin-top: 8px;
                color: $primary;
                transition: .5s;
                font: {
                    weight: 700;
                }
                font-size: 15px;
            }
        }
        &:hover {
            transform: translateY(-5px);
            
            .image {
                img {
                    transform: scale(1.2);
                }
                .social {
                    opacity: 1;
                    margin-top: 0;
                    visibility: visible;
                }
            }
            .content {
                background-color: $primary;
    
                h3 {
                    color: white;
                }
                span {
                    color: white;
                }
            }
        }
    }

}


@media (min-width: 320px) and (max-width: 480px){
	.block-title__line {
		background-color: $secondary;
		display: flex;
		width: 64px;
		height: 6px;
		border-radius: 3px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	
	.block-title__line::before {
		content: '';
		width: 8px;
		height: 6px;
		background-color: white;
		border-radius: 3px;
		position: absolute;
		left: 12px;
		top: 0px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

    .teamUs {
		&__title{
			text-align: center;
			font-size: 24px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			font-weight: 700;
		}
		&__subtitle{
			text-align: justify;
			font-size: 16px;
			font-weight: 500;
			width: 65%;
			margin-left: auto;
			margin-right: auto;
			text-align-last: center;
		}
        &__container{
            width: 64%;
            margin: 40px auto;
        }
        a{
            text-decoration: none;
        }
    }

    .team-box {
        margin-bottom: 30px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
        background-color: white;
        transition: .5s;
        text-align: center;

    
        .image {
            position: relative;
            overflow: hidden;
    
            img {
                transition: .5s;
            }
            .social {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 2;
                text-decoration: none;
                opacity: 0;
                margin-top: -100px;
                padding: 10px 15px 5px;
                background: white;
                border-radius: 35px;
                visibility: hidden;
                transition: .5s;
                width: max-content;
    
                a {
                    display: inline-block;
                    color: $primary;
                    font-size: 18px;
                    margin: 0 6px;
    
                    &:hover {
                        color: $secondary;
                    }
                }
            }
        }
        .content {
            padding: 25px;
            position: relative;
            transition: .5s;
    
            h3 {
                margin-bottom: 0;
                transition: .5s;
                font: {
                    size: 22px;
                }
            }
            span {
                display: block;
                margin-top: 8px;
                color: $primary;
                transition: .5s;
                font: {
                    weight: 700;
                }
                font-size: 15px;
            }
        }
        &:hover {
            transform: translateY(-5px);
            
            .image {
                img {
                    transform: scale(1.2);
                }
                .social {
                    opacity: 1;
                    margin-top: 0;
                    visibility: visible;
                }
            }
            .content {
                background-color: $primary;
    
                h3 {
                    color: white;
                }
                span {
                    color: white;
                }
            }
        }
    }   
}