body{
	font-family: 'Poppins', sans-serif;
	padding: 0px;
	margin: 0px;
}

@media (min-width: 1200px){
.block-title__line {
	background-color: $secondary;
	display: flex;
	width: 64px;
	height: 6px;
	border-radius: 3px;
	position: relative;
    margin-left: auto;
	margin-right: auto;
}

.block-title__line::before {
	content: '';
	width: 8px;
	height: 6px;
	background-color: white;
	border-radius: 3px;
	position: absolute;
	left: 12px;
	top: 0px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}



.testimonials {
	margin-bottom: 72px;
	&__bg{
		background-image: url(../images/bg_clients.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
    &__title{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
    }
    &__subtitle{
        text-align: center;
        font-size: 24px;
    }
}

[class*=testimonials__shape-] {
	position: absolute;
}


.testimonials .container-fluid {
	width: 100%;
	position: relative;
}

.testimonials__carousel .owl-stage-outer {
	overflow: visible;
}

.testimonials__single {
	text-align: center;
	border-radius: 10px;
	position: relative;
	background-color: #fff;
	border: 1px solid $primary;
}

.testimonials__single::before {
	content: '';
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 10px;
	background-color: $primary;;
	transform-origin: center center;
	opacity: 0;
	transition: opacity 500ms ease;
}

.testimonials__carousel .owl-item.center .testimonials__single::before,
.testimonials__single:hover::before {
	opacity: 1;
}

.testimonials__single::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(../images/bg_map.png);
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0;
	transition: all 500ms ease;
}

.testimonials__carousel .owl-item.center .testimonials__single::after,
.testimonials__single:hover::after {
	opacity: 1;
}

.testimonials__inner {
	padding-left: 50px;
	padding-top: 47.5px;
	padding-bottom: 47.5px;
	padding-right: 50px;
	position: relative;
}

.testimonials__inner::before {
	content: '';
	position: absolute;
	top: 0px;
	left: -22px;
	width: 80px;
	height: 80px;
	background-image: url(../images/icon_quote.png);
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 500ms ease;
}

.testimonials__carousel .owl-item.center .testimonials__inner::before,
.testimonials__single:hover .testimonials__inner::before {
	opacity: 1;
}

.testimonials__carousel .owl-item img {
	margin-left: auto;
	margin-right: auto;
}

.testimonials__single p {
	margin: 0;
	color: black;
	font-size: 15px;
	line-height: 26px;
	transition: all 500ms ease;
}

.testimonials__carousel .owl-item.center .testimonials__single p,
.testimonials__single:hover p {
	color: #fff;
}

.testimonials__single h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 900;
	color:$primary;
	margin-top: 28px;
	margin-bottom: 12px;
	transition: all 500ms ease;
}

.testimonials__carousel .owl-item.center .testimonials__single h3,
.testimonials__single:hover h3 {
	color: $secondary;
}
.testimonials__single h4 {
	margin: 0;
	font-size: 18px;
	font-weight: 900;
	font-family: $fontS;
	color:$secondary;
	margin-bottom: 12px;
	transition: all 500ms ease;
}

.testimonials__carousel .owl-item.center .testimonials__single h3,
.testimonials__single:hover h4 {
	color: #fff;
}


.testimonials__image {
	width: 83px;
	border-radius: 50%;
	background-color: #fff;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 30px 0px rgba(0, 8, 11, 0.2);
	margin-bottom: 27px;
}

.testimonials__image>img {
	width: 100%;
	border-radius: 50%;
}

.testimonials .block-title {
	margin-bottom: 95px;
}
}

@media (min-width: 320px) and (max-width: 480px){
	.block-title__line {
		background-color: $secondary;
		display: flex;
		width: 64px;
		height: 6px;
		border-radius: 3px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	
	.block-title__line::before {
		content: '';
		width: 8px;
		height: 6px;
		background-color: white;
		border-radius: 3px;
		position: absolute;
		left: 12px;
		top: 0px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	
	
	.testimonials {
		&__bg{
			background-image: url(../images/bg_clients.png);
			background-repeat: no-repeat;
			
		}
		&__title{
			text-align: center;
			font-size: 24px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			font-weight: 700;
		}
		&__subtitle{
			text-align: justify;
			font-size: 16px;
			font-weight: 500;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align-last: center;
		}
	}
	
	[class*=testimonials__shape-] {
		position: absolute;
	}
	
	.testimonials__shape-1 {
		width: 100%;
		height: 72%;
		top: 24%;
		left: 0;
	}
	
	.testimonials__shape-2 {
		top: 100px;
		left: 295px;
	}
	
	.testimonials .container-fluid {
		width: 100%;
		position: relative;
	}
	
	.testimonials__carousel .owl-stage-outer {
		overflow: visible;
	}
	
	.testimonials__single {
		text-align: center;
		border-radius: 10px;
		position: relative;
		background-color: #fff;
		border: 1px solid $primary;
		width: 88%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.testimonials__single::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 10px;
		background-color: $primary;;
		transform-origin: center center;
		opacity: 0;
		transition: opacity 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__single::before,
	.testimonials__single:hover::before {
		opacity: 1;
	}
	
	.testimonials__single::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(../images/bg_map.png);
		background-repeat: no-repeat;
		background-position: center center;
		opacity: 0;
		transition: all 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__single::after,
	.testimonials__single:hover::after {
		opacity: 1;
	}
	
	.testimonials__inner {
		padding-left: 50px;
		padding-top: 47.5px;
		padding-bottom: 47.5px;
		padding-right: 50px;
		position: relative;
	}
	
	.testimonials__inner::before {
		content: '';
		position: absolute;
		top: 0px;
		left: -22px;
		width: 80px;
		height: 80px;
		background-image: url(../images/icon_quote.png);
		background-repeat: no-repeat;
		opacity: 0;
		transition: all 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__inner::before,
	.testimonials__single:hover .testimonials__inner::before {
		opacity: 1;
	}
	
	.testimonials__carousel .owl-item img {
		margin-left: auto;
		margin-right: auto;
	}
	
	.testimonials__single p {
		margin: 0;
		color: black;
		font-size: 15px;
		line-height: 26px;
		transition: all 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__single p,
	.testimonials__single:hover p {
		color: #fff;
	}
	
	.testimonials__single h3 {
		margin: 0;
		font-size: 16px;
		font-weight: 900;
		color:$primary;
		margin-top: 28px;
		margin-bottom: 12px;
		transition: all 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__single h3,
	.testimonials__single:hover h3 {
		color: $secondary;
	}
	.testimonials__single h4 {
		margin: 0;
		font-size: 18px;
		font-weight: 900;
		font-family: $fontS;
		color:$secondary;
		margin-bottom: 12px;
		transition: all 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__single h3,
	.testimonials__single:hover h4 {
		color: #fff;
	}
	
	
	.testimonials__image {
		width: 83px;
		border-radius: 50%;
		background-color: #fff;
		padding: 3px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0px 0px 30px 0px rgba(0, 8, 11, 0.2);
		margin-bottom: 27px;
	}
	
	.testimonials__image>img {
		width: 100%;
		border-radius: 50%;
	}
	
	.testimonials .block-title {
		margin-bottom: 56px;
	}
}

@media (min-width: 600px)and (max-width: 1024px){
	.block-title__line {
		background-color: $secondary;
		display: flex;
		width: 64px;
		height: 6px;
		border-radius: 3px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	
	.block-title__line::before {
		content: '';
		width: 8px;
		height: 6px;
		background-color: white;
		border-radius: 3px;
		position: absolute;
		left: 12px;
		top: 0px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	
	
	.testimonials {
		&__bg{
			background-image: url(../images/bg_clients.png);
			background-repeat: no-repeat;
			background-size: contain;
		}
		&__title{
			text-align: center;
			font-size: 24px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			font-weight: 700;
		}
		&__subtitle{
			text-align: justify;
			font-size: 16px;
			font-weight: 500;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			text-align-last: center;
		}
	}
	
	[class*=testimonials__shape-] {
		position: absolute;
	}
	
	.testimonials__shape-1 {
		width: 100%;
		height: 55%;
		top: 0%;
		left: 0;
	}
	
	.testimonials__shape-2 {
		top: 100px;
		left: 295px;
	}
	
	.testimonials .container-fluid {
		width: 100%;
		position: relative;
	}
	
	.testimonials__carousel .owl-stage-outer {
		overflow: visible;
	}
	
	.testimonials__single {
		text-align: center;
		border-radius: 10px;
		position: relative;
		background-color: #fff;
		border: 1px solid $primary;
		width: 88%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.testimonials__single::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 10px;
		background-color: $primary;;
		transform-origin: center center;
		opacity: 0;
		transition: opacity 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__single::before,
	.testimonials__single:hover::before {
		opacity: 1;
	}
	
	.testimonials__single::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(../images/bg_map.png);
		background-repeat: no-repeat;
		background-position: center center;
		opacity: 0;
		transition: all 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__single::after,
	.testimonials__single:hover::after {
		opacity: 1;
	}
	
	.testimonials__inner {
		padding-left: 50px;
		padding-top: 47.5px;
		padding-bottom: 47.5px;
		padding-right: 50px;
		position: relative;
	}
	
	.testimonials__inner::before {
		content: '';
		position: absolute;
		top: 0px;
		left: -22px;
		width: 80px;
		height: 80px;
		background-image: url(../images/icon_quote.png);
		background-repeat: no-repeat;
		opacity: 0;
		transition: all 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__inner::before,
	.testimonials__single:hover .testimonials__inner::before {
		opacity: 1;
	}
	
	.testimonials__carousel .owl-item img {
		margin-left: auto;
		margin-right: auto;
	}
	
	.testimonials__single p {
		margin: 0;
		color: black;
		font-size: 15px;
		line-height: 26px;
		transition: all 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__single p,
	.testimonials__single:hover p {
		color: #fff;
	}
	
	.testimonials__single h3 {
		margin: 0;
		font-size: 16px;
		font-weight: 900;
		color:$primary;
		margin-top: 28px;
		margin-bottom: 12px;
		transition: all 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__single h3,
	.testimonials__single:hover h3 {
		color: $secondary;
	}
	.testimonials__single h4 {
		margin: 0;
		font-size: 18px;
		font-weight: 900;
		font-family: $fontS;
		color:$secondary;
		margin-bottom: 12px;
		transition: all 500ms ease;
	}
	
	.testimonials__carousel .owl-item.center .testimonials__single h3,
	.testimonials__single:hover h4 {
		color: #fff;
	}
	
	
	.testimonials__image {
		width: 83px;
		border-radius: 50%;
		background-color: #fff;
		padding: 3px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0px 0px 30px 0px rgba(0, 8, 11, 0.2);
		margin-bottom: 27px;
	}
	
	.testimonials__image>img {
		width: 100%;
		border-radius: 50%;
	}
	
	.testimonials .block-title {
		margin-bottom: 56px;
	}
}

